package components;


templ Footer () {
<div class="text-text1 bg-background fixed flex flex-row bottom-0 w-full pt-2">
	@FooterItem( "About", "/about")
	<a hx-boost="true" href="/addExercise">
		@AddButton()
	</a>
	@FooterItem( "Exercises", "/")
</div>
}
