package pages;

import "callisplanics/layouts"
templ about() {
  <div>
    <h1>About</h1>
    <p>
      This is a simple example of a templ component.
    </p>
  </div>
}


func About() *templ.ComponentHandler{
	return templ.Handler(layouts.Default(about()))
}

