package pages

import (
	"callisplanics/components"
	"callisplanics/layouts"
	"callisplanics/controllers"
	"callisplanics/models"
)


templ showExercise(exercises []models.Exercise) {
	<h1>Exercises</h1>
	for _, exercise := range exercises {
		@components.Exercise(exercise)
	}
}

func Exercises() *templ.ComponentHandler {
	exercises := controllers.GetExercisesHandler()
	return templ.Handler(layouts.Default(showExercise(exercises)))
}
