package pages

import (
	"callisplanics/components"
	"callisplanics/layouts"
	"callisplanics/controllers"
	"callisplanics/models"
)


templ Show(exercises []models.Exercise) {
	<h1>Home</h1>
	<p>This is the home page</p>
	for _, exercise := range exercises {
		@components.Exercise(exercise)
	}
}

func Home() *templ.ComponentHandler {
	exercises := controllers.GetExercisesHandler()
	return templ.Handler(layouts.Default(Show(exercises)))
}
